@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

#content{
	font-family: 'Roboto Condensed', sans-serif;
	word-wrap: break-word; /*Beta*/
	margin-left: 10px;
	margin-top: 6px;
	margin-bottom: 6px;
}

input, select {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 3px;
    background: rgba(255,255,255,0.5);
}

input[type="submit"] {
    background-color: #FFFFFF;
    border: 3px solid #555555;
    color: black;
    padding: 3px 6px;
	font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	margin-top: -150px;
    font-size: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	border-radius: 25px;
    border: 1px solid #C0C0C0;
}

input[type="submit"]:hover {
    background-color: #555555;
    color: white;
}

div {
	 display: inline-block;
}

/*table {
    border-collapse:separate;
    border:solid gray 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

td, th {
    border-left:solid gray 1px;
    border-top:solid gray 1px;
}

th {
    background-color: #00CCCC;
    border-top: none;
}

td:first-child {
     border-left: none;
}*/

button {
    background-color: #FFFFFF;
    border: none;
    color: black;
    padding: 3px 12px;
	font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	border-radius: 25px;
    border: 1px solid #C0C0C0;
	-webkit-box-shadow: 0px 0px 87px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 87px -15px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 87px -15px rgba(0,0,0,0.75);
}

button:hover {
    background-color: #555555;
    color: white;
}


