@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

html {
	width: auto;
}

*  {
	font-family: 'Roboto Condensed', sans-serif;
	white-space: nowrap;
}

body{
	background: rgb(226,226,226);
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header {
	width: auto;
}


h1 {
	font-family: 'Poiret One', cursive;
}

#enlacesSupText {
	font-size: 14pt;
	color: #4d4d4d;
	font-style: italic;
	display: inline-table;
	margin-left: 30px;
	margin-right: 10px;
	
}

.enlacesSup {
	display: inline-table;
	margin: 0;
	margin-left: -30px;
	margin-right: 0;
	border-radius: 25px;
    border: 2px solid #C0C0C0;
    padding: 5px; 
    width: 98%;
	max-width: 98%;
    height: 1px; 
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: -2px 10px 66px -8px rgba(0,0,0,0.35);
	-moz-box-shadow: -2px 10px 66px -8px rgba(0,0,0,0.35);
	box-shadow: -2px 10px 66px -8px rgba(0,0,0,0.35);
}

a:link {
		font-size: 14pt;
		color: #4d4d4d;
		text-decoration: none;
	}

a:visited {
	font-size: 14pt;
		color: #4d4d4d;
		text-decoration: none;
	}
	
a:hover {
	font-size: 14pt;
		color: #262626;
		text-decoration: underline;
	}
	
a:active {
	font-size: 14pt;
		color: #4d4d4d;
		text-decoration: underline;
	}
	
section#main{
  float: left;
  position:inline;
  margin-left: 5px;
  display: inline-table;
	margin: 0;
	margin-right: 0;
	border-radius: 25px;
    border: 1px solid #C0C0C0;
    padding: 5px; 
    width: 75.2%;
	max-width: 75.2%;
	 height: 70px; 
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: -2px 10px 66px -8px rgba(0,0,0,0.35);
	-moz-box-shadow: -2px 10px 66px -8px rgba(0,0,0,0.35);
	box-shadow: -2px 10px 66px -8px rgba(0,0,0,0.35);
}

nav{    
	float: left;
	display: inline;
	margin: 0;
	margin-right: 10px;
	margin-left: -30px;
	border-radius: 25px;
    border: 1px solid #C0C0C0;
    padding: 20px; 
    width: auto;
    height: 150px; 
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: -2px 10px 66px -8px rgba(0,0,0,0.35);
	-moz-box-shadow: -2px 10px 66px -8px rgba(0,0,0,0.35);
	box-shadow: -2px 10px 66px -8px rgba(0,0,0,0.35);
}

.listaNav {
	margin: 0;
	margin-left: 30px
	padding: 0;
}

/*footer {
	font-family: 'Roboto Condensed', sans-serif;
	position:absolute;
	bottom:0;
	height: auto;
	margin-top: -6em;
}*/

h4 {
	opacity: 0.5; 
	text-align: center;
	font-weight: lighter;
}
