@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
body{
background: rgb(226,226,226);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
	background-repeat: no-repeat;
	background-attachment: fixed;
}

input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 3px;
    background: rgba(255,255,255,0.5);
}

input[type="text"] {
   width: 220px;
 }
 
input[type="password"] {
   width: 220px;
 }

input[type="submit"] {
    background-color: #FFFFFF;
    border: 3px solid #555555;
    color: black;
    padding: 3px 12px;
	font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 45px -10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	border-radius: 25px;
    border: 1px solid #C0C0C0;
}

input[type="submit"]:hover {
    background-color: #555555;
    color: white;
}

header {
	font-family: 'Poiret One', cursive;
}

#main {
	font-family: 'Roboto Condensed', sans-serif;
	
}


table {
	text-align:right;
}
	
section#main{
	display: none;
	position: absolute; 
	top: 50%; 
	left: 50%; 
	margin: -155px 0 0 -300px;
	/*Original background-color: rgba(255, 255, 255, 0.65);*/
	background-color: rgba(226, 226, 226, 0.90);
	border-radius: 25px;
    border: 3px solid #C0C0C0;
    padding: 20px; 
    width: auto;
    height: auto; 
	-webkit-box-shadow: -2px 10px 66px 20px rgba(0,0,0,0.35);
	-moz-box-shadow: -2px 10px 66px 20px rgba(0,0,0,0.35);
	box-shadow: -2px 10px 66px 20px rgba(0,0,0,0.35);
}

.Error {
	color: red;
}

img {
	cursor: pointer;
}

input[type="submit"] {
  background-color: #FFFFFF;
    border: 3px solid #555555;
    color: black;
    padding: 3px 12px;
	font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	border-radius: 25px;
    border: 1px solid #C0C0C0;
	-webkit-box-shadow: -1px 5px 99px 10px rgba(0,0,0,0.35);
	-moz-box-shadow: -1px 5px 99px 10px rgba(0,0,0,0.35);
	box-shadow: -1px 5px 99px 10px rgba(0,0,0,0.35);
}

input[type="submit"]:hover {
    background-color: #555555;
    color: white;
}

footer {
	font-family: 'Roboto Condensed', sans-serif;
	position:absolute;
	bottom:0;
	height: auto;
}

h4 {
	opacity: 0.5; 
	text-align: center;
	font-weight: lighter;
}